body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button{
    background: #5f9341;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

#delete-btn{
    background: white;
    color: #5f9341;
    border: 1px solid #5f9341
}

ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li{
    margin-top:3px;
}

a{
    color: #5f9341;
}

.delete-item-btn {
    background: none;
    color: black;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    vertical-align: middle;
}

.delete-item-btn:hover {
    color: red;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1b22;
        color: rgb(218, 216, 216);
    }

    .delete-item-btn {
        color: #484854;
    }

    #input-el{
        background: #484854;
        color: rgb(218, 216, 216);
    }

    button {
        color: #484854;
    }

    #delete-btn {
        background: #484854;
    }
}